/* blog.module.scss */

.blog__section {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 4rem;

    
  }
  
  