.loading__body__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Set your desired background color */
  }
  
  .loading__animation {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #3498db; /* Set your desired animation color */
    border-top-color: transparent;
    animation: spin 1.5s infinite ease-in-out;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  